@import url("https://fonts.googleapis.com/css2?family=Lora&family=Poppins&display=swap");

$color_1: #242831;
$color_2: #292e38;
$color_3: #323844;
$color_4: #bb23c7;
$padding: 4em;
$font1: "Poppins", sans-serif;
$font2: "Lora", serif;

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  color: white;
  background-color: $color_1;
  font-family: $font1;
  height: 100vh;
}

header {
  width: 100 vw;
  height: 1.5em;

  #title {
    font-size: 35px;
  }

  ul li {
    list-style: none;
    display: inline-block;
    margin: 1.5em 3em 0 0;
    padding-left: 2.5em;
  }

  a {
    text-decoration: none;
    color: white;
  }
}

.game {
  position: absolute;
  left: 0;
  top: 20%;
  margin: 0 auto;
  width: 100vw;
  height: 20vw;
  //border: 1px solid green;
  form {
    text-align: center;
    padding-top: 2em;
  }
}

.score {
  left: 50%;
  top: -20%;
  position: absolute;
}

.display-move {
  padding: 2.5em 0 0 0;
  text-align: center;
  color: rgb(156, 156, 156);
}

img {
  height: 150px;
}
